.input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    color: #fff;
    background-color: #0a0f17;
    box-shadow: 0 0 5px #fbfbfb66, 0 0 0 5px transparent;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    padding: 0.4rem 0;
    width: 20rem;
    transition: .4s;
    margin-bottom: 1.2rem;
}

.input:hover {
    box-shadow: 0 0 0 2px #8adcfc5f;
}

.input:focus {
    box-shadow: 0 0 0 2px #8dddfcf5;
}


.searchBtn {
    background-color: #dddddd;
    padding: 8.5px 8px;
    border: 1px solid #dddddd;
    border-radius: 0 8px 8px 0;
    color: #31696d;
    text-shadow: 1px 1px 2px #9ee7ff;
    font-weight: bold;
    font-size: 0.9rem;
    position: relative;
    margin-top:1.4rem;
    left: 2.5px;
}

.searchBtn:hover {
    cursor: pointer;
    background-color: #c0c0c0;
}